.news-container {
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
}
  
  .news-header {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .news-item {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  
  .news-item:hover {
    background-color: #f1f5f9;
  }
  
  .news-title {
    font-size: 1.4rem;
    color: #1d4ed8;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  .news-title:hover {
    text-decoration: underline;
  }
  
  .news-date, .news-author {
    font-size: 0.9rem;
    color: #6b7280;
    margin-bottom: 10px;
  }
  
  .news-description {
    font-size: 1rem;
    color: #374151;
    margin-top: 10px;
  }
  
  .news-description img {
    width: 100% !important;
    height: 200px;
    border-radius: 4px;
    margin-top: 10px;
  }

  .news-image{
    width: 100%;
  }

  .favorites-header {
    width: 97% !important;
    padding: 10px 20px; /* Yüksekliği azaltmak için padding değerleri küçültüldü */
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Dikey ortalamak için eklendi */
    text-align: center; /* Metni ortala */
  }
  
  .favorites-header h1 {
    font-size: 1.8rem; /* Başlık boyutunu küçülttük */
    margin: 0;
    color: var(--text-color, #333);
  }
  
  .favorites-header p {
    font-size: 1rem; /* Alt metnin boyutunu sabit tuttuk */
    color: var(--secondary-text-color, #555);
    margin: 0;
  }


/* Mobile View */
@media (max-width: 767px) {
  .favorites-header {
    padding: 8px 15px; /* Daha küçük padding */
    width: 90% !important;
    margin-bottom: 1rem !important ;
  }
  
  .favorites-header h1 {
    font-size: 1.5rem; /* Başlık boyutunu daha da küçülttük */
  }
  
  .favorites-header p {
    font-size: 0.9rem; /* Alt metnin boyutunu küçülttük */
  }
}