/* src/App.css */

body {
  font-family: 'Roboto', sans-serif;
}
  
  nav {
    background-color: #319795;
    padding: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  h1, h2, h3 {
    color: #2d3748;
  }
  
  a {
    color: #319795;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
  }
  
  th {
    background-color: #edf2f7;
  }
  
  .main-content {
    padding-top: 40px; /* Navbar'ın yüksekliği kadar boşluk */
  }